.checkout-section
{
   
    background-size:cover;
    background-repeat: no-repeat;

}
#main-form1 
{
  backdrop-filter: blur(5px);
  border-radius: 10px;
  
   
}
#login-form1 ::placeholder
{
  color: #ffffff;
}
#login-form1  .form-control {
  border-color: #ffffff;
  background: #0000000a;
  
  height: 40px;
}
#login-form1
{
  padding: 5%;
}
#login-form
{
    padding: 4%;
}
.forgot-password,.link .title-register
{
    color:#30C7CF !important;
}
.text-orginal,.text-orginal-1
{
    color:#30C7CF !important;
    text-decoration: none !important;
}
.text-orginal-1:hover
{
color:#0000;
}
.text-orginal:hover
{
    color:#ffff !important;
}
/* register form */
.checkout-section-1
{

    background-size:cover;
    background-repeat: no-repeat;
}
.control-label{
    color:#ffffff;
}
.main-form-1 {
  backdrop-filter: blur(5px);
  border-radius: 10px;
 
}
#register-details
{
    padding: 5%;
}
#register-details .form-control {
  border-color: #9d9d9df5;
  background: #9d9d9df5;
  height: 40px;
}
#register-details ::placeholder
{
  color: #ffffff;
}
.select-dropdown .ui-selectmenu-button span.ui-selectmenu-text {
  padding: 0px;
  font-weight: 400;
  color: #ffff !important;
}
/* product list */
.pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
  }
  
  .pagination-number,
  .pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius:100%;
    background: #d32821;
    color:#ffffff;
  }
  
  .pagination-number:hover,
  .pagination-button:not(.disabled):hover {
    background: #154494;
    color:#ffffff;
  }
  
  .pagination-number.active {
    color: #fff;
    background: #0085b6;
  }
  .hidden {
    display: none;
  }  
  .pagination-row
  {
    margin-top: 15%;
  }
  #old-eye-password,#same-eye-password,#re-eye-password
  {
    display: none;
  }
  .input-text
  {
    background: #fff;
    padding: 8px 15px;
   
    border: 1px solid #eeeeee;
    min-height: 40px;
  }
  /* checkout */
  #order_overview_content,#payment_content,#order_complete_content
  {
    display: none;
  }
  .active
  {
   color: #d32821 !important;
  }
  .quality_value {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    width: 44px;
    padding: 5px 0;
    float: left;
    text-align: center;
    margin: 0 5px;
}
.navbar-brand > img
{
  width: 40%;
}
.level a
{
 color: #ffffff;
}
.detail-inner-left ul li a
{
  color:#154494 !important;
}
.pro-wishlist-icon:hover
{
  background-color:#154494 !important;
}

/* wishlist */
.wishlist_quality_value {
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  width: 44px;
  padding: 5px 0;
  float: left;
  text-align: center;
  margin: 0 5px;
}
/* cart */
.product-frame {
  
	object-fit: cover;
}
.product-filed
{
  width: 50%;
}

.product-cart {
  display: flex;
  box-shadow: 1px 1px 0px #f5f5f5;
  padding: 24px;
}
#cart
{
  display: flex;
}
#cart-box1
{
  width: 50%;
}
.cart-trash
{
  text-align: end;
  width: 50%;
}
.product-image
{
  display: flex;
}
.logo
{
  width:30% !important;
}
.increase.items, .reduced.items {
  background: transparent;
  border: 1px solid #e1e1e1;
  color: #888;
  padding: 10px 11px 9px;
  float: left;
  border-radius: 100% !important;
}
#newslater-popup .newsletter-inner p {
  margin-bottom: 20px;
  padding: 0 80px;
  color: #000;
}
#newslater-popup .newsletter-inner form button {
  position: relative;
  background: #28a8af;
  color: #000 !important;
  cursor: pointer;
}